export GITHUB_TOKEN=ghpO....
export KO_DOCKER_REPO=ghcr.io/YOUR_GITHUB_ACCOUNT

# Fancy command line prompt
#export STARSHIP_CONFIG=~/.config/starship.kubernetes.toml

#export KUBECONFIG=~/.kube/host-cluster-kubeconfig

